* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#main {
    height: 100vh;
}

.link {
    color: #1A73E8;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}

